name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      # ---- CLIENT ----
      - name: Install client deps
        working-directory: client
        run: npm install

      - name: Build client
        working-directory: client
        run: npm run build

      # ---- SERVER ----
      - name: Install server deps
        working-directory: server
        run: npm install

      - name: Test server
        working-directory: server
        run: npm test || true
